
@media (max-width: 767px) {
    
}


@media (min-width:768px) {
    .sidebar {
        display: block;
    }
}


@media (min-width: 992px) {
    .container {
        min-width: calc(100vw - (270px + 20px));
        column-gap: 20px;
        row-gap: 20px;
    }
}